---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a 
	href={href} 
	class:list={[
		'px-3 py-2 rounded-md text-sm font-medium transition-colors duration-150',
		isActive 
			? 'text-primary border-b-2 border-primary' 
			: 'text-foreground/70 hover:text-primary hover:bg-primary/10',
		className
	]} 
	{...props}
>
	<slot />
</a>
